
.pembungkus {
    height: 400px;
    width: 100%;
    font-size: 30px;

}
.pembungkus .card span {
    font-size: 20px;
}
.pembungkus .card p {
    font-size: 2rem;
}

.box1,
.box2 {
    width: 400px;
}